<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Memer: An API to generates memes for entertainment and profit</title>
    <link rel="stylesheet" href="./style.css" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>
  <body>
    <section class="head">
      <h1>404</h1>
      <p>Well this is awkward...<a href="/">you can go back to home</a></p>
    </section>
  </body>
</html>
