<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Memer: An API to generates memes for entertainment and profit</title>
    <link rel="stylesheet" href="./style.css" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
  </head>
  <body>
    <section class="head">
      <h1>Memer</h1>
      <p>A RESTful Api to generate memes</p>
    </section>

    <section class="try-it">
      <h2>Try it out!</h2>

      <form action="" class="try-it__form" id="queryForm">
        <div>
          <label for="frmQuery">query</label>
          <input type="text" required name="frmQuery" />
        </div>

        <div>
          <label for="frmPos">position</label>
          <select required name="frmPos">
            <option value="">(top/center/bottom)</option>
            <option value="top">top</option>
            <option value="center">center</option>
            <option value="bottom">bottom</option>
          </select>
        </div>

        <div>
          <label for="frmText">text</label>
          <input type="text" maxlength="60" required name="frmText" />
        </div>
        <button type="submit" class="btn btn-primary">Go!</button>
      </form>

      <div class="try-it__block" id="tryItBlock"></div>

      <div class="try-it__share" id="btnsShare">

        <button class="btn btn-secondary" id="btnShare" >
          Share
          <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-share"
              viewBox="0 0 16 16"
              >
              <path
                  d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"
                  />
          </svg>
        </button>
        <button class="btn btn-secondary" id="btnDownload">
          Download
          <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-download"
              viewBox="0 0 16 16"
              >
              <path
                  d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
                  />
              <path
                  d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
                  />
          </svg>
        </button>
      </div>

    </section>

    <section class="info">
      <h2>Usage</h2>
      <code class="info__code-top">/new?</code>
      <ul>
        <li>
          <code>query</code>
          <p>
            looks up the query on google, gets the link for the first image and
            using some <em>super cool web scraping</em> extracts the image from
            the link
          </p>
        </li>

        <li>
          <code>prompt</code>
          <p>
            specifies the text that should be displayed on the image, max 60
            characters
          </p>
        </li>
        <li>
          <code>pos</code>
          <p>specifies the vertical position of the text (top|center|bottom)</p>
        </li>
      </ul>
    </section>
  </body>
  <script src="./app.js"></script>
</html>
