:root {
  --fnt-main: Arial, Helvetica, sans-serif;
  --fnt-head: Verdana, Geneva, Tahoma, sans-serif;

  --bg-rose-1: #f2e5e5;
  --bg-rose-2: #ce7777;

  --inp-height: 35px;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--fnt-main);
}

section:not(.head) {
  margin: 1em auto;
  max-width: 500px;
}

section {
  padding-inline: 1em;
}

h1,
h2 {
  font-family: var(--fnt-head);
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

.btn {
  border: none;
  border-radius: 5px;
  transition: 100ms ease;
  font-size: 1em;
}

.btn-primary {
  background: var(--bg-rose-2);
  color: white;
}

.btn-secondary {
  background: #b49898;
  color: white;
}

.head {
  background-color: var(--bg-rose-1);
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  height: 10em;
  text-align: center;
}

.try-it {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.try-it__form > div {
  display: flex;
  gap: 0.2em;
  flex-direction: column;
}

.try-it__form button {
  width: 100%;
  background: var(--bg-rose-2);
  color: white;
  border: none;
  border-radius: 5px;
  height: var(--inp-height);
  transition: 100ms ease;
  font-size: 1em;
}

.try-it__share {
  display: flex;
  width: 100%;
  gap: 0.5em;
}

.try-it__share .btn {
  width: 50%;
  height: var(--inp-height);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.btn:active {
  transform: translateY(5px);
}

.try-it__form label {
  color: var(--bg-rose-2);
  font-weight: bold;
  text-transform: capitalize;
}

.try-it__form input,
.try-it__form select {
  font-size: 1em;
  outline: none;
  border: 1px solid var(--bg-rose-2);
  height: var(--inp-height);
  padding: 0 0.5em;
  border-radius: 5px;
  background: white;
  color: #191919;
}

.try-it__form div:not(:nth-last-child(1)) {
  margin-bottom: 0.5em;
}

.try-it__block {
  width: 100%;
  height: 300px;
  border: 1px solid var(--bg-rose-2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.try-it__image {
  width: 100%;
}

.try-it__code {
  background: #f2e5e5;
  font-family: monospace;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.info {
  padding-inline: 1.5em;
}

.info__code-top {
  font-size: 1.4em;
  display: block;
  margin-block: 1em;
  width: fit-content;
}

code {
  background: #f2e5e5;
  padding: 0.3em;
  font-family: monospace;
  font-size: 1.1em;
  border-radius: 2px;
}

.info ul li {
  padding-block: 0.5em;
}

.info ul li p {
  display: inline;
  line-height: 1.5;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #e8c4c4;
  border-radius: 50%;
  border-top-color: var(--bg-rose-2);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
