* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.head {
  background-color: #F2E5E5;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10em;
  text-align: center;
  padding: 0 1em;
}

.try-it {
  margin: 1em auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: .5em;
  gap: 1em;
}

.try-it__form div {
  display: flex;
  gap: .2em;
  flex-direction: column;
} 

.try-it__form button {
  width: 100%;
  background: #CE7777;
  color: white;
  border: none;
  border-radius: 5px;
  padding: .2em;
  font-size: 1em;
  transition: 100ms ease;
}

.try-it__form button:active {
  transform: translateY(5px);
}

.try-it__form label {
  color: #CE7777;
  font-size: .9em;
  font-weight: bold;
  text-transform: capitalize;
} 

.try-it__form input, .try-it__form select {
  outline: none;
  border: 1px solid #CE7777;
  height: 25px;
  padding: 0 .5em;
  border-radius: 5px;
} 

.try-it__form div:not(:nth-last-child(1)) {
  margin-bottom: .4em;
}

.try-it__block {
  width: 100%;
  height: 360px;
  border: 1px solid #CE7777;
  border-radius: 5px;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.try-it__image {
  width: 100%;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4em;
}

.try-it__code {
  background: #F2E5E5;
  font-family: monospace;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.info {
  padding-inline: 1em;
}

.info__code-top {
  font-size: 1.4em;
  display: block;
  margin-block: 1em;
  width: fit-content
}

code {
  background: #F2E5E5;
  padding: .2em;
  font-family: monospace;
  font-size: 1.1em;
  border-radius: 2px;
}

.info {
  margin: 1em auto;
  max-width: 500px;
}

.info ul li {
  padding-block: .2em;
}

.info ul li p {
  display: inline;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #E8C4C4;
  border-radius: 50%;
  border-top-color: #CE7777;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
